[Unit]
Description=crossyio-go-crossyio-contributor-green
Wants=vulcand.service
After=vulcand.service

[Service]
TimeoutStartSec=300
Restart=always
ExecStartPre=/bin/sh -c '/usr/bin/docker login \
  --username $(/usr/bin/etcdctl get /docker/quay.io/username) \
  --password $(/usr/bin/etcdctl get /docker/quay.io/password) \
  --email $(/usr/bin/etcdctl get /docker/quay.io/email) \
  quay.io'
ExecStartPre=/usr/bin/etcdctl get /crossyio/go-crossyio-contributor/green/port || /usr/bin/echo "etcd did not contain /crossyio/go-crossyio-contributor/green/port" && exit 1
ExecStartPre=/usr/bin/etcdctl get /crossyio/go-crossyio-contributor/green/docker_url || /usr/bin/echo "etcd did not contain /crossyio/go-crossyio-contributor/green/docker_url" && exit 1
ExecStartPre=-/usr/bin/docker kill crossyio-go-crossyio-contributor-green-env-%i
ExecStartPre=-/usr/bin/docker rm crossyio-go-crossyio-contributor-green-env-%i
ExecStartPre=-/usr/bin/docker kill crossyio-go-crossyio-contributor-green-%i
ExecStartPre=-/usr/bin/docker rm crossyio-go-crossyio-contributor-green-%i
ExecStartPre=/bin/sh -c "/usr/bin/docker run --rm \
  --name crossyio-go-crossyio-contributor-green-env-%i \
  -e ETCDCTL_PEERS=http://$(ifconfig docker0 | grep 'inet ' | awk '{print $2}'):2379 \
  quay.io/octoblu/etcd-to-env /crossyio/go-crossyio-contributor/env > /tmp/crossyio-go-crossyio-contributor-green.env \
"
ExecStart=/bin/sh -c "/usr/bin/docker run --rm \
  --name crossyio-go-crossyio-contributor-green-%i \
  --env-file /tmp/crossyio-go-crossyio-contributor-green.env \
  -p $(/usr/bin/etcdctl get /crossyio/go-crossyio-contributor/green/port):80 \
  $(/usr/bin/etcdctl get /crossyio/go-crossyio-contributor/green/docker_url) \
"
ExecStop=/usr/bin/docker stop crossyio-go-crossyio-contributor-green-%i

[Install]
WantedBy=multi-user.target

[X-Fleet]
Conflicts=crossyio-go-crossyio-contributor-green@*.service
MachineMetadata=Services=true
