[Unit]
Description=Register with vulcand for crossyio-octoblu-oauth-authenticator-green
BindsTo=crossyio-octoblu-oauth-authenticator-green@%i.service
After=crossyio-octoblu-oauth-authenticator-green@%i.service

[Service]
EnvironmentFile=/etc/environment
RemainAfterExit=yes
ExecStart=/bin/sh -c "/usr/bin/echo 'Adding backend, server, and frontend to vulcand' && \
  /usr/bin/docker run --rm octoblu/vctl backend upsert \
    --id crossyio-octoblu-oauth-authenticator-green \
    --vulcan http://$(ifconfig docker0 | grep 'inet ' | awk '{print $2}'):8182 && \
  /usr/bin/docker run --rm octoblu/vctl server upsert \
    --id crossyio-octoblu-oauth-authenticator-green-%i \
    --backend crossyio-octoblu-oauth-authenticator-green \
    --url http://${COREOS_PRIVATE_IPV4}:$(/usr/bin/etcdctl get /crossyio/octoblu-oauth-authenticator/green/port) \
    --vulcan http://$(ifconfig docker0 | grep 'inet ' | awk '{print $2}'):8182 \
"

ExecStop=/bin/sh -c "/usr/bin/echo 'Removing server from vulcand' && \
  /usr/bin/docker run --rm octoblu/vctl server rm --id crossyio-octoblu-oauth-authenticator-green-%i --vulcan http://$(ifconfig docker0 | grep 'inet ' | awk '{print $2}'):8182"

[X-Fleet]
X-ConditionMachineOf=crossyio-octoblu-oauth-authenticator-green@%i.service
